---
import styles from "./contact_form.module.scss";
import Form from "@components/React/Form/Form";
---

<div class="container">
	<div class={styles.container}>
		<div class={styles.heading}>
			<h2>Still have any doubts?</h2>
		</div>

		<div class={styles.content}>
			<img src="/main/journey.svg" alt="journey" />

			<Form client:load />
		</div>
	</div>
</div>
