---
import styles from "./trust.module.scss";
---

<div class={styles.trust}>
	<!-- <picture>
		<source
			media="(min-width:40em)"
			srcset="/main/info-lg.webp"
			width="1920"
			height="540"
		/>
		<img
			src="/main/info-sm.webp"
			alt="Travelseye"
			width="400"
			height="630"
		/>
	</picture> -->

	<!-- <img src="/main/info.webp" alt="" width="400" height="630" /> -->

	<div class={styles.content}>
		<div class="container">
			<div class={styles.container}>
				<img src="/main/clients.svg" alt="" width="100" height="110" />
				<img src="/main/24-7.svg" alt="" width="100" height="110" />
				<img
					src="/main/experience.svg"
					alt=""
					width="100"
					height="110"
				/>
			</div>
		</div>
	</div>
</div>
