@use "/src/styles/abstracts" as ab;

.card {
	padding: 1.5em 1.5em 1em;
	border-radius: 0.75rem;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	display: grid;
	gap: 1em;

	background-color: #eeeded;

	.review {
		text-wrap: balance;
	}

	.name {
		text-align: right;
		font-weight: 600;
	}
}
