---
import styles from "./travel-with-us.module.scss";
import Button from "../Button-cta/Button.astro";
---

<div class={styles.card}>
	<div class="container">
		<div class={styles.container}>
			<p>are you ready to travel with us?</p>

			<div class={styles.button}>
				<Button variant="default">Book Today</Button>
			</div>
		</div>
	</div>
</div>
