@use "/src/styles/abstracts" as ab;

@keyframes fade-out {
	to {
		scale: 2;
		opacity: 0.2;
	}
}

.hero {
	display: grid;
	grid-template-columns: 1fr;
	max-height: max(75vh, 40rem);
	overflow: hidden;
	position: relative;

	> * {
		grid-row-start: 1;
		grid-column-start: 1;
	}

	.image {
		img {
			width: 100%;

			@include ab.scroll-animation {
				animation: fade-out linear forwards;
				animation-timeline: scroll(root);
				animation-range-start: exit;
				animation-range-end: exit;
			}

			@include ab.screen-75 {
				translate: 0 -18%;
			}
		}
	}

	.content {
		--overlay: var(--overlay-2);

		z-index: 1;
		background-color: var(--overlay);

		.container {
			--color: var(--white);

			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;

			width: min(96%, 80rem);

			display: grid;
			gap: 2em;

			h1 {
				text-align: center;
				text-wrap: balance;
				color: var(--color);
			}

			.button {
				text-align: center;
			}
		}
	}
}
