---
import styles from "./content.module.scss";
---

<div class="container">
	<div class={styles.aboutcontent}>
		<div class={styles.heading}>
			<h3>Dear Traveller,</h3>
		</div>
		<div class={styles.content}>
			<p>
				Greetings from Trave; Eyes Pvt Ltd. We are a private held
				company opened with a dream to help people like you to travel
				the world in the cheaptest way possible and the best way
				possible. Putting things aside, our only concern is the
				customer’s 100% satisfaction, and in that we are fully focused.
			</p>
			<p>Hope you have a safe and sound trip!</p>
			<div class={styles.subcontent}>
				<p>Yours truly,</p>
				<p>Travel Eyes Pvt Ltd.</p>
			</div>
		</div>
	</div>
</div>
